.content {
  display: flex;
  width: 100%;
  height: 92%;
  &-sidebar {
    border-right: 1px solid #f0f0f0;
    height: 100%;
  }
  .selected {
    background-color: #f0f0f0;
  }
  .list-item {
    text-align: left;
    font-size: 12px;
    padding: 10px 25px 10px 20px;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
    &:hover {
      background-color: #fafafa;
    }
    &::after {
      content: "";
      height: 1px;
      width: 84%;
      position: absolute;
      background-color: #f0f0f0;
      right: 0;
      bottom: 0;
    }
    &__title {
      font-size: 13px;
      margin-bottom: 3px;
    }
    &__data {
      margin-right: 5px;
    }
    &__text {
      color: #595959;
    }
  }
}
