* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  ol,
  ul {
    margin-left: 20px;
  }
}

body {
  background: url('img/bg.jpg') no-repeat fixed center center;
  background-size: cover;
}

.app {
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  position: absolute;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  &-wrapper {
    position: relative;
    width: 80vw;
    height: 80vh;
    border: 1px solid #bfbfbf;
    box-shadow: 4px 4px 13px 9px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #bfbfbf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(174, 174, 174);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 143, 143);
  cursor: pointer;
}
